# puerto a usar
PORT = #0000

# base de datos
DATABASE_HOST = # URL de tu base de datos
DATABASE_USER = # usuario para login de tu base de datos
DATABASE_PASSWORD = # clave de tu base de datos
DATABASE_NAME = # nombre de tu base de datos